<!doctype html>
<html lang="en">
  <head>
    <title>Contacto</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Contacto.css">
    <script src="/contacto.js"></script>
</head>
  <body>
     
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
         
        <a class="navbar-brand" href="/">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link"  href="/Sucursal">Sucursales<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Plan">Planes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="/Clases">Clases Grupales</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Mas...
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/loginUsuario">Ingresar</a>
                <a class="dropdown-item" href="/reservarHora">Reservar Hora</a>
                <a class="dropdown-item" href="/Contacto">Contacto</a>
              
              </div>
            
            </li>
            
        

          </ul>
         
        </div>

        <th:block th:if="${session.usuarioLogueado==null}">
                  <li class="nav-item">
                    <a class="btn submits sign-up" href="loginUsuario">INICIAR SESIÓN
                      <!--  <a class="btn submits sign-up" href="Pago">PAGAR -->
                        </a>
                  </li>
                 </th:block>
        
      
    <br>
    
      <nav class="navbar navbar-expand-lg navbar-light bg-bluesky">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
             
           <th:block th:unless="${session.usuarioLogueado==null}">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" th:text="'Mi Cuenta: '+${session.usuarioLogueado.getUserName()}" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Salir
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <form class="usuarioIn" action="logout"  method="post">
                <a class="dropdown-item" href="/Pago" value="Pagar">Pagar</a>
                <br>
                <a class="dropdown-item" href="/reservarHora" value="Pagar">Reservar Hora</a>
                <br>
                <a class="dropdown-item" href="/Perfil" value="Pagar">Mi Perfil</a>
                <br>
                <input class="dropdown-item"type="submit"  value="Terminar Sesión">
              </form>
            </div>
            </li>
          </th:block>
          </ul>
        </div>
      </nav>
    </nav>
     <br>
        <header>FORMULARIO DE CONTACTO GIMNASIO</header>

        <form id="form" class="topBefore">
                
                  <input id="name" type="text" placeholder="INGRESE SU NOMBRE">
                  <input id="email" type="text" placeholder="INGRESE SU E-MAIL">
                  <textarea id="message" type="text" placeholder="INGRESE SU MENSAJE"></textarea>
          <input href="" id="submit" type="submit" value="ENVIAR! PRONTO TE RESPONDEREMOS">
          
        </form>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  
</html>