<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>SUCURSAL</title>
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
     
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/proyecto.css">
</head>
  <body bgcolor="blue">
     
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
         
                        <a class="navbar-brand" href="/">Inicio</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link"  href="Sucursal">SUCURSALES<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">PLANES</a>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Mas...
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">MI PERFIL</a>
                                <a class="dropdown-item" href="#">PAGO</a>
                                
                              </div>
                            </li>
                          </ul>
                         
                        </div>
                      </nav>
                   <div>
                     <h1>Clases Grupales</h1>
                   </div>
                      <div class="card-group">
                          <div class="card">
                            <img src="/img/BodyCombat.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">BodyCombat</h5>
                              <p class="card-text">BodyCombat es un programa de entrenamiento grupal de tipo cardiovascular. 
                                Consiste en realizar movimientos basados en distintas artes marciales siguiendo el ritmo de una base musical.</p>
                            </div>
                            
                          </div>
                          <div class="card">
                            <img src="/img/TRX.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">TRX</h5>
                              <p class="card-text">En esta disciplina aprovechando el peso del propio 
                                cuerpo se consigue ejercitar toda la musculatura corporal. Para entrenar se utiliza una cinta de 
                                nylon resistente y regulable que, por un lado, tiene un punto de anclaje en un extremo y soportes
                                 para los pies y empuñaduras, por el otro. Esos sistemas de anclaje se pueden sujetar en casi cualquier punto, 
                                lo que favorece que el TRX se pueda realizar en cualquier lugar.</p>
                            </div>
                          
                          </div>
                          <div class="card">
                            <img src="/img/hit.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">HIT</h5>
                              <p class="card-text">Está enfocado a la calidad de las repeticiones en el cual se busca el fallo muscular o 
                                hipertrofia para lograr que el músculo crezca y así aumentar crecimiento y fuerza. </p>
                            </div>
                           
                          </div>
                          <div class="card">
                              <img src="/img/funcional.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">FUNCIONAL</h5>
                                <p class="card-text">El entrenamiento funcional consiste en adaptar nuestras sesiones a mejorar la calidad de vida, 
                                  con gestos y movimientos que sirven para esas 160 o más horas semanales que pasamos fuera del gimnasio.</p>
                              </div>
                            
                            </div>
                            <div class="card">
                                <img src="/img/Zumba.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">ZUMBA</h5>
                                  <p class="card-text">Zumba es una disciplina fitness enfocada por una parte a mantener un 
                                    cuerpo saludable y por otra a desarrollar, fortalecer y dar flexibilidad al cuerpo mediante
                                     movimientos de baile combinados con una serie de rutinas aeróbicas.
                                       Zumba utiliza dentro de sus rutinas los principales ritmos latinoamericanos, como lo son la salsa, 
                                       el merengue, la cumbia, y el reggaetón. En cada sesión de Zumba, se pueden llegar a quemar de 50 a 
                                       300 calorías.
                                      Zumba se puede practicar a cualquier edad y en cualquier momento </p>
                                </div>
                              
                              </div>
                        </div>
                   

                <div>
                    <h1>Ingrese Nombre Clase</h1>
                </div> 
                <br>
                <div class="row justify-content-center">
                          <div id="formulario " class="container-formulario col-6">

                <form action="#" th:action="@{/crearClaseForm}" th:object="${clase}" method="POST">
                  
                 
                        <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Nombre Clase</label>
                        <input th:field="*{nombreClase}" type="text" class="form-control" placeholder="Ingrese nombre">
                      </div> 
                      <div class="form-group col-md-6">
                        <label for="exampleInputEmail3">Cantidad maxima alumnos</label>
                        <input th:field="*{cantMaxalumnos}" type="text" class="form-control" placeholder="Ingrese cantidad maxima alumnos">
                      </div> 
                        <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Nombre Instructor</label>
                        <input th:field="*{Instructor}" type="text" class="form-control" placeholder="Ingrese nombre instructor">
                      </div> 
                       <button type="submit" class="btn btn-dark">Enviar</button>
                          </form>

              </div>
            </div>
      
        
         
      
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>