<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>SUCURSAL</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/proyecto.css">
</head>
  <body>
     
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
         
                        <a class="navbar-brand" href="/">Inicio</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link"  href="Sucursal">SUCURSALES<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">PLANES</a>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Mas...
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="comic.html">MI PERFIL</a>
                                <a class="dropdown-item" href="series.html">PAGO</a>
                                
                              </div>
                            </li>
                          </ul>
                         
                        </div>
                      </nav>

                      <div class="card-deck">
                      <div class="card" style="width: 18rem;">
                        <img src="/img/cheGym.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">TEMUCO</h5>
                          <p class="card-text">Dirección: Uruguay 1720, Temuco, Región de la Araucanía </p>
                          <a href="SucursalTemuco" class="btn btn-dark">Ingresar</a>
                        </div>
                      </div>

                      <div class="card" style="width: 18rem;">
                        <img src="/img/chiGym.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">CONCEPCIÓN</h5>
                          <p class="card-text">Dirección: Barros Arana 1789, Concepción, Región del Bío Bío</p>
                          <a href="SucursalConcepcion" class="btn btn-dark">Ingresar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="/img/checGym.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">SANTIAGO</h5>
                          <p>Dirección: Avenida Tobalaba 1234, Providencia, Region Metropolitana</p>
                          <a href="SucursalSantiago" class="btn btn-dark">Ingresar</a>
                        </div>
                      </div>
                    </div>
                    <br>

                    <div class="card">
                      <div class="card-body">
                        Nuestras sedes cuentan con profesores certificados y bien preparados para acompañarte en 
                            los entrenamientos, ademas nuestros gimnasios cuentan con tecnología de punta y 
                            un equipo humano de excelencia, prestar una asesoraría integral en el campo del deporte.
                            Asesoraría integral en el campo del deporte, la actividad física y la estética,
                            capaz de ajustarse a las necesidades de salud y calidad de vida de nuestros clientes.
                      </div>
                    </div>
                    <div>
                    <h1>NUESTRAS SEDES</h1>
                    <h3>Cuentan con un gran equipo y una gran variedad de maquinas</h3>
                     </div>
                
                  <div class="card-columns">
                        <div class="card">
                          <img src="/img/remo.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Remo</h5>
                            <p class="card-text">Es un equipo cardiovascular muy eficaz capaz de trabajar una gran variación de los músculos. 
                                El aparato, que es un simulador de remo indoor, está indicado para la quema calórica.</p>
                          </div>
                        </div>
                        <div class="card p-3">
                          <blockquote class="blockquote mb-0 card-body">
                            <h2>NUESTROS EQUIPOS</h2>
                            
                          </blockquote>
                        </div>
                        <div class="card">
                          <img src="/img/cardio.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Equipamiento Cardiovascular</h5>
                            <p class="card-text">A pesar de ser tradicional, la trotadora sigue siendo uno 
                                 los equipos más eficientes para el entrenamiento cardiovascular, pues, además de 
                                 ayudar con la pérdida de peso y gasto calórico, también trabaja el acondicionamiento físico y respiratorio. 
                                También podrás encontrar elípticas para ayudarte a lograr tus objetivos</p>
                          
                          </div>
                        </div>
                        <div class="card">
                                <img src="/img/muscu.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Equipamiento de musculación</h5>
                                  <p class="card-text">Las Sedes cuentan con dos áreas principales; una con pesos libres, 
                                        y otra de peso integrado para miembros inferiores y superiores 
                                        y entrenamientos específicos para la región del abdomen y del lumbar.</p>
                                
                                </div>
                              </div>
                  
            
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>