<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Iniciar Sesión</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Iniciar Sesión</div>
        

        <h1 th:text="${dato}"></h1>

        <form action="#" th:action="@{/loginUsuarioForm}" th:object="${usuario}" method="POST">
          
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre Usuario</label>
                <input th:field="*{nombre}" type="text" class="form-control" placeholder="ingrese nombre">
                
            </div>
          
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
    </body>
</html>
